@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.mainGrid-4x4 {
  grid-template-columns: repeat(4, 3rem);
}

.mainGrid-3x3 {
  grid-template-columns: repeat(3, 3rem);
}

.mainGrid-2x2 {
  grid-template-columns: repeat(2, 3rem);
}
