@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.animate-scrollUp {
    /* animation-play-state: paused; */
}

.scrollUp {
    animation: scrollUp 30s linear;
}

@keyframes scrollUp {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(calc(-100% + 555px));
    }
}